* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid pink; */
}

body {
  font-family: "Jost", sans-serif;
}
.main-container {
  position: relative;
  width: 1440px;
  margin: auto;
  border: 1px solid black;
}
button {
  cursor: pointer;
}

.navbar {
  background-color: #fff;
  color: #fff;
  padding: 0.625rem 0;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  /* border: 1px solid grey; */
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.9375rem;
}
.navbar__icon {
  margin-right: -0.5313rem;
}
.navbar__link {
  color: rgb(93, 108, 123);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  text-decoration: none;
  transition: 0.3s;
}
.navbar__menu li:last-child {
  margin-left: auto;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__phone {
  color: rgb(40, 39, 57);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.outline_border {
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #ecf3ff;
}

/* SEARCH SECTION */
.search {
  margin-top: 30px;
}
.wrapper__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
}

.search__text {
  color: rgb(40, 39, 57);
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.button__catalog {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  background-color: #6f73ee;
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  color: #fff;
}

.search__container {
  position: relative;
}

.search__input {
  position: relative;
  padding: 10px 20px;
  width: 37.6875rem;
  height: 2.5rem;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
}
.button__search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 0px 5px 5px 0px;
  background: rgb(111, 115, 238);
}

.cart {
  color: rgb(40, 39, 57);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}

/* HEADDER-SECTION */
header {
  margin-top: 41px;
  position: relative;
  margin-bottom: 522px;
}

.container-header {
  position: relative;
}
.header__bg {
  position: absolute;
  left: -124px;
  border-radius: 10px;
  margin-bottom: 72px;
}
.wrapper__header {
  position: absolute;
  top: 0;
  padding-top: 57px;
}

.wrapper__header * {
  padding: 0;
  margin: 0;
  color: #fff;
}

.header__address {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 20px;
}
.section-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 0;
}

.header__title {
  color: #fff;
}

.header__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 30px;
}

.header__block__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.header-button {
  border: 1.3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(111, 115, 238);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  padding: 15px 40px;
  margin-top: 22px;
  cursor: pointer;
}

.header__block__inside {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}

.header__list {
  display: flex;
  columns: 2;
  gap: 35px;
}
.header__list__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* SECOND SECTION */

.container-second {
  max-width: unset;
}

.second-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 130px;
}

.flex-one {
  max-width: 37.0125rem;
}

.test-drive {
  padding: 0;
}

.test-drive__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.ul-name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}

.second-title {
  margin-bottom: 40px;
}

/* THIRD SECTION */

.third {
  margin-top: 100px;
}

.second-wrapper.third-wrapper {
  flex-direction: row-reverse;
}

/* scooters */
.scooters {
  margin-top: 100px;
  margin-bottom: 100px;
}

.scooters-title {
  max-width: 732px;
  margin: 0 auto;
  margin-bottom: 57px;
  text-align: center;
}
.scooter-cards {
  display: flex;
  justify-content: center;
  gap: 33px;
}
.scooter-card {
  position: relative;
  width: 255px;
  min-height: 492px;
  border: 1.5px solid rgb(234, 235, 237);
  border-radius: 10px;
  overflow: hidden;
}

.scooter-card__img {
  background-color: rgb(240, 241, 245);
}
.scooter-card__img .scooter-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 28px;
  padding-bottom: 28px;
}

.scooter-card__img .red {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: rgb(238, 104, 95);
  padding: 4px 8px;
  position: absolute;
  margin: 10px;
  color: #fff;
}

.scooter-card__img .green {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: #75d14a;
  padding: 4px 8px;
  position: absolute;
  margin: 10px;
  color: #fff;
}

.scooters-svg {
  position: absolute;
  right: 10px;
  top: 10px;
}

.scooter-card__content {
  margin: 20px 24px;
}
.scooter-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: rgb(40, 39, 57);
}

.scooter-card__info {
  padding: 0;
  columns: 2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(93, 108, 123);
  margin-top: 25px;
  margin-bottom: 25px;
}

.scooter-card__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scooter-card__item:nth-child(1),
.scooter-card__item:nth-child(3) {
  margin-bottom: 14px;
}
.button-scooters {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: rgb(111, 115, 238);
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.text-to-strike {
  text-decoration: line-through;
  color: rgb(93, 108, 123);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.new-price {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

.shopping-card__svg {
  padding: 10px;
  border: 1.3px solid rgb(234, 235, 237);
  border-radius: 50%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-bottom: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
