html {
  font-size: 1rem;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border-bottom: 1px solid red */
}

body {
  font-family: "Jost", sans-serif;
}
.show-992 {
  display: none;
}
.main-container {
  max-width: 90rem;
  margin: auto;
  padding: 0 34px;
  /* border: 1px solid black; */
  border-top: none;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
.navbar {
  background-color: #fff;
  color: #fff;
  padding: 0.625rem 0;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0;
  /* border: 1px solid grey; */
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.92rem;
}
.socials-nav {
  display: flex;
  gap: 0.5rem;
}

.navbar__link {
  color: rgb(93, 108, 123);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  text-decoration: none;
  transition: 0.3s;
}
.navbar__menu li:last-child {
  margin-left: auto;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__phone {
  color: rgb(40, 39, 57);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.0625rem;
}
.outline_border {
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

/* SEARCH SECTION */
.search {
  margin-top: 1.675rem;
}
.wrapper__search {
  display: flex;
  align-items: center;
  /* gap: 2.3375rem; */
}

.search__text {
  color: rgb(40, 39, 57);
  font-size: 30px;
  font-weight: 700;
  line-height: 2.6875rem;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.button__catalog {
  width: 114px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  background-color: #6f73ee;
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  color: #fff;
  margin-left: 36px;
  margin-right: 39px;
}

.search__container {
  position: relative;
}
.search__container input {
  color: rgb(93, 108, 123);

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.search__input {
  position: relative;
  padding: 10px 20px;
  width: 37.6875rem;
  height: 2.5rem;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
  margin-left: -17px;
}
.button__search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 0px 5px 5px 0px;
  background: rgb(111, 115, 238);
}

.cart {
  color: rgb(40, 39, 57);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

/* HEADDER-SECTION */
header {
  margin-top: 41px;
  position: relative;
  height: 27.8125rem;
}

.container-header {
  position: relative;
}
.header__bg {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 86.25rem;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
.wrapper__header {
  position: absolute;
  top: 0;
  padding-top: 55px;
}

.wrapper__header * {
  padding: 0;
  margin: 0;
  color: #fff;
}

.header__address {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 18px;
  gap: 10px;
  letter-spacing: 0.2px;
}
.section-title {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 3.1875rem;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 0;
}

.header__title {
  color: #fff;
}

.header__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 28px;
}

.header__block__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.extra__icons {
  display: flex;
  gap: 23px;
  margin-left: 2.875rem;
}
.header-button {
  border: 1.3px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(111, 115, 238);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  padding: 15px 40px;
  margin-top: 35px;
  cursor: pointer;
}

.header__block__inside {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 42.7px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
}

.header__list {
  display: flex;
  columns: 2;
  gap: 48px;
}
.header__list__item {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* SECOND SECTION */

.second {
  margin-top: 4.1875rem;
}

.second-wrapper {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}
.section-two__bg {
  background-image: url(../img/test_drive-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.1875rem;
  height: 26.375rem;
}
.flex-one {
  flex-basis: 53.3%;
}

.test-drive {
  padding: 0;
}

.test-drive__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.ul-name {
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 29px;
}

.second-title {
  padding-top: 31px;
  padding-bottom: 21px;
}

/* THIRD SECTION */

.third {
  margin-top: 6.25rem;
}
.second-wrapper.third-wrapper {
  flex-direction: row-reverse;
  column-gap: 5.3125rem;
}
.section-two__bg2 {
  background-image: url(../img/safety-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32.1875rem;
  height: 28.9375rem;
}
/* scooters */
.scooters {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.third-text__block {
  flex-basis: 48px;
  flex: 1;
}
.scooters-title {
  margin: 0 auto;
  margin-bottom: 3.0625rem;
  text-align: center;
  padding-top: 4px;
  margin-right: 11px;
}
.scooter-cards {
  display: flex;
  gap: 1.8125rem;
}
.scooter-card {
  position: relative;
  width: 255px;
  min-height: 492px;
  border: 1.5px solid rgb(234, 235, 237);
  border-radius: 10px;
  overflow: hidden;
}

.scooter-card__img {
  background-color: rgb(240, 241, 245);
}
.scooter-card__img .scooter-img {
  width: 245px;
  height: 100%;
  object-fit: cover;
  padding-top: 28px;
  padding-bottom: 14px;
}

.scooter-card__img .red {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: rgb(238, 104, 95);
  padding: 4px 8px;
  position: absolute;
  margin: 10px;
  color: #fff;
}

.scooter-card__img .green {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: #75d14a;
  padding: 4px 9px;
  position: absolute;
  margin: 10px;
  color: #fff;
}

.scooters-svg {
  position: absolute;
  right: 10px;
  top: 10px;
}

.scooter-card__content {
  margin: 20px 24px;
}
.scooter-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: rgb(40, 39, 57);
}

.scooter-card__info {
  padding: 0;
  columns: 2;
  column-gap: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(93, 108, 123);
  margin-top: 21px;
  margin-bottom: 25px;
}

.scooter-card__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scooter-card__item:nth-child(1),
.scooter-card__item:nth-child(3) {
  margin-bottom: 14px;
}
.button-scooters {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  background: rgb(111, 115, 238);
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.text-to-strike {
  text-decoration: line-through;
  color: rgb(93, 108, 123);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.new-price {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

.shopping-card__svg {
  padding: 10px;
  border: 1.3px solid rgb(234, 235, 237);
  border-radius: 50%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  margin-bottom: 13px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

/* CTA */
.cta {
  position: relative;
  width: 100%;
  height: 27.8125rem;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(244, 247, 251);
  margin-bottom: 100px;
}

.cta-title {
  max-width: 38.3125rem;
  margin-bottom: 2.1rem;
}
.cta-text {
  color: rgb(40, 39, 57);
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.0187rem;
}

.cta-form {
  margin-top: 1.25rem;
}
.cta-input {
  padding: 15px 25px;
  border: 1px solid rgb(234, 235, 237);
  border-radius: 5px;
  width: 263px;
  margin-right: 16px;
}

.cta-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14px 25px;
  border-radius: 5px;
  background: rgb(111, 115, 238);
  color: #fff;
  border: none;
}

.cta-wrapper {
  padding-top: 5.5rem;
}

.cta-bg {
  background-image: url(../img/cta-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 25.625rem;
  height: 37.9375rem;
  position: absolute;
  bottom: -6.3625rem;
  right: 11.25rem;
  clip: rect(6px, 500px, 502px, 0px);
}

.politics {
  display: flex;
  margin-top: 21px;
  max-width: 20.9375rem;
  gap: 15px;
}

.politics span {
  color: rgb(40, 39, 57);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.politics a {
  color: rgb(40, 39, 57);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}

/* DISCOUNT */

.footer-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0;
}

.discount {
  padding: 22px 0;
  margin: 0;
  background: rgb(111, 115, 238);
}
.discount-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount-title {
  max-width: 27.8125rem;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.email-form {
  margin-right: 10px;
}

.email-form input {
  width: 25.625rem;
  padding: 17px 25px;
  border-radius: 5px;
  background: rgb(154 157 237);
  color: #fff;
  border: none;
  margin-right: 0.95rem;
}

.email-form__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}

.email-form button {
  max-width: 8.75rem;
  padding: 14px 25px;
  border-radius: 5px;
  /* White */
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(111, 115, 238);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* FOOTER */
.footer-section {
  padding-top: 2.9375rem;
  background-color: #f4f7fb;
}

.footer-wrapper * {
  padding: 0;
  margin: 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.9375rem;
}
.ul-customers,
.ul-contacts {
  columns: 2;
  column-gap: 2.7875rem;
}
.footer-wrapper h3 {
  margin-bottom: 1.1875rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.ul-catalog li,
.ul-customers li,
.ul-contacts li {
  margin-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  color: rgb(93, 108, 123);
}

.footer-column:nth-child(2) {
  margin-left: 29px;
}

.ul-contacts a {
  color: rgb(40, 39, 57);
  font-size: 1rem;
  font-weight: 500;
  line-height: 23px;
}
.footer-call {
  color: rgb(111, 115, 238);
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.main-container2 {
  max-width: 90rem;
  margin: 0 auto;
}

.socials-wrapper2 {
  display: flex;
  padding-top: 2.1813rem;
  padding-bottom: 1.9rem;
}

.socials-wrapper3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps {
  display: flex;
  gap: 10px;
}

.socials-footer {
  display: flex;
  gap: 17px;
}
.logo-footer {
  margin-right: 3.675rem;
}

.payment-wrapper {
  display: flex;
  align-items: center;
  padding-top: 0.95rem;
  padding-bottom: 4rem;
}

.payment-one {
  display: flex;
  gap: 44px;
}
.politics-text {
  color: rgb(93, 108, 123);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.payment-two {
  margin-left: 23.7rem;
}

.payment-three {
  display: flex;
  align-items: center;
  margin-right: 11px;
  margin-left: auto;
}

.payment-three span {
  color: rgb(40, 39, 57);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.payment-three img {
  margin-left: 14px;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  margin-top: 10.3125rem;
  border: 1px solid #888;
  width: 790px;
  border-radius: 5px;
  gap: 9px;
}

.close {
  position: absolute;
  top: -1px;
  right: 12px;
  color: #aaa;
  float: right;
  font-size: 39px;
  font-weight: 200;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wrapper-modal-one {
  flex: 1;
}
.wrapper-modal-two {
  background-image: url(../img/modal-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 21.0625rem;
  height: 30.6875rem;
  overflow: hidden;
}

.modal-button,
.modal-input {
  width: 264px;
}
.modal-input {
  margin-bottom: 17px;
}

.politics-modal a {
  color: #6f73ee;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.politics-modal {
  max-width: 16.9375rem;
}

@media (max-width: 1440px) {
  .header__bg {
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .container {
    width: 93%;
  }
  .hidden1240 {
    display: none;
  }

  .search__container {
    width: 100%;
  }
  .search__container input {
    width: 100%;
  }
  .second-wrapper {
    align-items: center;
    gap: 10px;
  }
  .second-wrapper.third-wrapper {
    column-gap: 20px;
  }
  .second-title {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-title {
    font-size: 1.875rem;
    line-height: 2.3875rem;
  }
  .flex-one {
    flex: 1;
  }
  .section-two__bg {
    width: 515px;
    height: 422px;
  }
  .scooters {
    margin-top: 4.25rem;
    margin-bottom: 4.25rem;
  }
  .scooters-title {
    margin-bottom: 1.5625rem;
  }
  .scooter-cards {
    display: flex;
    gap: 1.0125rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cta-button {
    position: relative;
    z-index: 2;
  }
  .cta-bg {
    right: 0;
    z-index: 1;
  }
  .email-form {
    margin-right: 0px;
    display: flex;
  }
  .email-form input {
    width: 264px;
    flex: 1;
  }
  .payment-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .payment-two {
    margin-left: 0;
    flex: 0.3 1 auto;
  }
  .payment-one {
    display: unset;
    flex: 3 1 auto;
  }
  .payment-three {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    flex: 0 1 auto;
  }
}
@media (max-width: 992px) {
  .hidden-992 {
    display: none;
  }
  .show-992 {
    display: inline;
  }
  .section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .section-title {
    font-size: 25px;
  }
  .cta-bg {
    display: none;
  }
  .socials-wrapper2 {
    display: block;
  }
  .cta-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .cta {
    height: auto;
  }
  .politics-text {
    margin-right: 20px;
  }
  .search__container,
  .search__container input {
    width: 346px;
  }
  .wrapper__search {
    flex-direction: column;
    gap: 10px;
  }
  .extra__icons {
    margin-left: 0;
  }
  header {
    margin-top: 1.5rem;
  }
  .header__bg {
    height: 84%;
  }
  .wrapper__header {
    padding-top: 30px;
  }
  .search {
    margin-top: 0.875rem;
  }
  .second {
    margin-top: 0;
  }
  .second-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .second-wrapper.third-wrapper {
    flex-direction: column-reverse;
  }
  .second-title {
    text-align: center;
  }
  .payment-wrapper {
    padding-bottom: 1rem;
  }
  .discount-title {
    flex: 1 1 auto;
    max-width: unset;
    text-align: center;
  }
  .email-form {
    flex: 1 1 auto;
  }
  .ul-customers,
  .ul-contacts {
    columns: unset;
  }
  .footer-column:nth-child(2) {
    margin-left: 0;
  }
  .discount-wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .ul-catalog li,
  .ul-customers li,
  .ul-contacts li {
    line-height: 10px;
  }
  .socials-wrapper3 {
    flex-wrap: wrap;
  }
  .apps {
    margin-bottom: 12px;
  }
  .payment-one {
    margin-bottom: 10px;
  }
  .modal-content {
    width: 70%;
  }
  .wrapper-modal-two {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar__menu {
    gap: 0.9rem;
  }
  .section-title {
    font-size: 1.25rem;
    line-height: 1.4875rem;
  }

  .header-button {
    width: 100%;
  }
  .header__bg {
    display: none;
  }
  .section-two__bg {
    background-size: contain;
    max-width: 100%;
  }
  .section-two__bg2 {
    background-size: contain;
    max-width: 100%;
  }
  .test-drive__item {
    line-height: 22px;
  }
  .second-title {
    margin: 20px 0;
  }
  .second {
    margin-bottom: 2rem;
  }
  header {
    height: 25rem;
    background: -webkit-linear-gradient(
      296deg,
      #9251a1,
      #305690,
      #970eaf
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      296deg,
      #9251a1,
      #305690,
      #970eaf
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin-bottom: 3rem;
  }
  .container.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .wrapper__header {
    padding-top: 3.6625rem;
  }
}
@media (max-width: 663px) {
  .cta-input {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .second-title {
    margin-top: 0;
  }
  .test-drive__item {
    font-size: 14px;
    line-height: 15px;
  }
  .section-two__bg {
    width: 100%;
    height: 286px;
  }
  .section-two__bg2 {
    width: 100%;
    height: 313px;
    background-position: center center;
  }
  .ul-name {
    font-size: 1.05rem;
  }
  .second-title {
    margin: 10px 0;
  }
  .scooters {
    margin-top: 0;
  }
  .email-form input {
    width: 100%;
  }
  .footer-wrapper {
    display: block;
    padding-bottom: 1.9375rem;
  }
  .cta-input,
  .cta-button {
    width: 100%;
  }
  .cta-title {
    margin-bottom: 0.6rem;
  }
  .socials-footer {
    flex-wrap: wrap;
    gap: 12px;
  }
  .socials-wrapper2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .wrapper__header {
    padding-top: 2rem;
  }
  .header__text {
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
  }
  header {
    height: 27rem;
  }
  .header__list {
    flex-direction: column;
    columns: unset;
    gap: 14px;
  }
  .header-button {
    margin-top: 16px;
  }
  .cta-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .search__container,
  .search__container input {
    width: 100%;
  }
  .search__input {
    margin-left: 0;
  }
  .navbar__menu li:last-child {
    margin-left: unset;
  }
  .navbar__menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .modal-content {
    width: 90%;
  }
}
