* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Jost", sans-serif;
}

.navbar {
  background-color: #fff;
  color: #fff;
  padding: 0.625rem 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.9375rem;
}
.navbar__icon {
  margin-right: -0.5313rem;
}
.navbar__link {
  color: rgb(93, 108, 123);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.0625rem;
  text-decoration: none;
  transition: 0.3s;
}
.navbar__menu li:last-child {
  margin-left: auto;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__phone {
  color: rgb(40, 39, 57);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.outline_border {
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  background-color: #ecf3ff;
}

/* SEARCH SECTION */
.search {
  margin-top: 30px;
}
.wrapper__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
}

.search__text {
  color: rgb(40, 39, 57);
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.button__catalog {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  background-color: #6f73ee;
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  color: #fff;
}

.search__container {
  position: relative;
}

.search__input {
  position: relative;
  padding: 10px 20px;
  width: 37.6875rem;
  height: 2.5rem;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
}
.button__search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 0px 5px 5px 0px;
  background: rgb(111, 115, 238);
}
